<div>
  <div class="w-full relative lg:h-[600px] overflow-hidden">
    <img
      src="images/hero-bg.jpeg"
      class="w-full relative"
      alt="hero background"
    />
    <div class="absolute bg-black/60 w-full h-full top-0 left-0"></div>
    <div
      class="absolute top-0 left-0 h-full flex items-center justify-center w-full"
    >
      <div class="lg:w-3/5 w-4/5 text-center">
        <p
          class="lato-bold lg:text-[72px] text-2xl text-white lg:leading-[80px] leading-[24px]"
        >
          Sustainability Meets Innovation in Water Management
        </p>
        <div class="mt-8">
          <app-button text="Contact Us" link="mailto:{{ email }}"></app-button>
        </div>
      </div>
    </div>
  </div>
  <app-cards></app-cards>
</div>
