.menu {
  cursor: pointer;
  height: 48px;
  position: relative;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  user-select: none;
  width: 48px;
  outline: none;
  transform: rotate(-90deg);
}

.line {
  background: black;
  height: 2px;
  left: 14px;
  position: absolute;
  width: 20px;
  top: 17px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  transform: rotate(-45deg) translate(-4.23px, 4.23px);
}

.line1 {
  background: black;
  height: 2px;
  left: 14px;
  position: absolute;
  width: 20px;
  top: 23px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  transform: scaleX(0);
}
.line2 {
  background: black;
  height: 2px;
  left: 14px;
  position: absolute;
  width: 20px;
  top: 29px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  transform: rotate(45deg) translate(-4.23px, -4.23px);
}
