<div>
  <div class="lg:ml-20 ml-5 my-5">
    <app-title subtitle="Latest Projects" subtitleColor="#13C5DD"></app-title>
  </div>
  <div class="p-0" id="projects">
    <owl-carousel-o
      [options]="customOptions"
      (translated)="getPassedData($event)"
      #owlCar
    >
      <ng-container *ngFor="let slider of sliders; let i = index">
        <ng-template carouselSlide>
          <div
            class="flex lg:flex-row flex-col relative mt-28 bg-[#201E50]"
            *ngIf="{ height: showMore }"
          >
            <div class="lg:w-[45%] relative bottom-28">
              <img [src]="slider.image" alt="project" class="w-full" />
            </div>
            <div class="lg:p-10 p-5 lg:w-[55%] flex items-center">
              <div class="lg:w-[70%] text-left pt-10">
                <app-title
                  subtitle="{{ slider.title }}"
                  subtitleColor="#FFFFFF"
                ></app-title>
                <div>
                  <div class="content-container">
                    <p
                      class="lato text-[14px] font-normal text-white content"
                      [class.expanded]="showMore"
                    >
                      {{
                        showMore
                          ? slider.content
                          : slider.content.slice(0, 150) + "..."
                      }}
                    </p>
                    <button
                      class="lato text-[14px] font-normal text-white content cursor-pointer"
                      (click)="toggleReadMore()"
                    >
                      Read {{ showMore ? "Less" : "More" }}
                    </button>
                  </div>
                </div>
                <div class="mt-10 flex items-center gap-3 lg:pb-0">
                  <button
                    title="Previous"
                    (click)="owlCar.prev()"
                    class="px-5 py-3 rounded-full bg-[#4d4b73] flex justify-center items-center"
                  >
                    <img src="icons/arrow_back_white.svg" alt="" />
                  </button>

                  <div class="relative inline-block">
                    <button
                      title="Next"
                      (click)="owlCar.next()"
                      class="px-5 py-3 relative bg-white rounded-full z-10"
                    >
                      <img src="icons/arrow_right_blue.svg" alt="" />
                    </button>
                    <div
                      class="absolute top-0 left-1/2 -translate-x-[1.89rem] -translate-y-1 w-[95%] h-1/2 bg-[#201e50] border border-white rounded-t-full z-0"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
